<footer class="py-4 border-top">

  <div class="d-flex justify-content-between" style="margin: 0rem 4.2rem;">
    <div class="align-self-center"><i class="fa-regular fa-copyright"></i> 2022 SNAQ</div>
    <div class="d-flex flex-column align-items-end">
    <ul class="list-unstyled d-flex">
      <span>A creation of </span>
      <li>
        <i class="mx-1 fa-regular fa-heart"></i>
      </li>
      <span>from the </span>
      <li>
        <i class="mx-1 fa-regular fa-brain"></i>
      </li>
      <li>
        <i class="mx-1 fa-regular fa-head-side-brain"></i>
      </li>
      <li>
        <i class="mx-1 fa-regular fa-brain-circuit"></i>
      </li>
      <span> of </span>
      <li>
        <a href="https://github.com/Juliaxtran">
          <i class="mx-1 fa-thin fa-user-hair-buns"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/patriceandrea">
          <i class="mx-1 fa-duotone fa-user-bounty-hunter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/gonzonieto">
          <i class="mx-1 fa-regular fa-user-astronaut"></i>
        </a>
      </li>
      </ul>
      <span>
        Dig in on <a href="https://github.com/patriceandrea/midterm">
          <i class="mx-1 fa-brands fa-github"></i>
        </a>
      </span>
    </div>
  </div>
</footer>
