<footer class="py-4 border-top">

  <div class="d-flex justify-content-between" style="margin: 0rem 4.2rem;">
    <div class="align-self-center">© 2022 SNAQ</div>
    <div class="d-flex flex-column align-items-end">
    <ul class="list-unstyled d-flex">
      <span>Made with </span>
      <li>
        <i class="mx-2 fa-solid fa-heart"></i>
      </li>
      <span>from the </span>
      <li>
        <i class="mx-2 fa-solid fa-brain"></i>
      </li>
      <span> of </span>
      <li>
        <i class="mx-1 fa-thin fa-user-hair-buns"></i>
      </li>
      <li>
        <i class="mx-1 fa-duotone fa-user-bounty-hunter"></i>
      </li>
      <li>
        <i class="mx-1 fa-regular fa-user-astronaut"></i>
      </li>
      </ul>
      <a class="text-decoration-none" style="color:black;width:fit-content;" href="https://github.com/patriceandrea/midterm">Dig in on <i class="mx-1 fa-brands fa-github"></i></a>
    </div>
  </div>
</footer>
