<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 border-top">
  <div class="col-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <span class="text-muted">© 2022 SNAQ</span>
  </div>

  <div class="d-flex flex-column align-items-end me-4">
    <ul class="nav justify-content-end list-unstyled d-flex">
      <span>Made with </span>
      <li>
        <i class="mx-2 fa-solid fa-heart"></i>
      </li>
      <span>from the </span>
      <li>
        <i class="mx-2 fa-solid fa-brain"></i>
      </li>
      <span> of </span>
      <li>
        <i class="mx-1 fa-thin fa-user-hair-buns"></i>
      </li>
      <li>
        <i class="mx-1 fa-duotone fa-user-bounty-hunter"></i>
      </li>
      <li>
        <i class="mx-1 fa-regular fa-user-astronaut"></i>
      </li>
    </ul>
    <a class="text-decoration-none" style="color:black;width:fit-content;" href="https://github.com/patriceandrea/midterm">See it on <i class="mx-1 fa-brands fa-github"></i></a>
  </div>
</footer>
