<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
  <title>Burgïr | Login</title>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <a id="logo" href="/">
      <h1>Logo</h1>
      <span>Login</span>
    </a>
  </nav>

<main>




  </main>

  <footer>

  </footer>

</body>

</html>
