<nav>
  <a id="logo" href="/">
    <img src="img/logo.png" alt="Boorgïr logo" style="width:100px;">
  </a>
  <!-- TODO - animation: display greeting once user logged in w/o login and register button -->
  <span>Login</span>
  <span>Register</span>
  <!-- TODO - animation: adding number of items in cart w/ BS Toast-->
  <!-- TODO - animation: notifications pops out once an item is added -->
    <!-- TODO - change the weight of this icon to match the food icons -->
  <div id="cartIcon">
    <i class="fa-light fa-basket-shopping"></i>
  </div>
</nav>
