<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
  <title>Burgïr | SNAQ Admin</title>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/admin.js"></script>
</head>

<body>

  <nav style="background-color: #35A5CE;">
    <h1 id="snaq"> Snaq </h1>

    <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img
          src="https://images.unsplash.com/photo-1577219491135-ce391730fb2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlZnxlbnwwfHwwfHw%3D&w=1000&q=80"
          width="50" height="50" class="rounded-circle">
        <span class="d-none d-sm-inline mx-1">Robert</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-light text-small shadow">

        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </nav>

  <main id="main-content">



  </main>

  <footer>
  </footer>

</body>

</html>
