<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
  <title>Burgïr | Your Basket</title>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <!-- TODO -- MAKE A _nav.ejs PARTIAL -->
  <nav>
    <a id="logo" href="/">
      <h1>Logo</h1>
    </a>
    <!-- TODO - animation: display greeting once user logged in w/o login and register button -->
    <span>Login</span>
    <span>Register</span>
    <!-- TODO - animation: adding number of items in cart w/ BS Toast-->
    <!-- TODO - animation: notifications pops out once an item is added -->
    <a href="/cart">
      <i class="fa-light fa-basket-shopping-simple"></i>
    </a>
  </nav>

  <!-- TODO -- MAKE A _header-hero.ejs PARTIAL -->
  <header>
    <img id="hero" src="https://via.placeholder.com/1400x220.png?text=The+Best+Food+On+The+Block">

    <h2>Authentic Earthen cuisine from our oven to your stomach.</h2>
  </header>

  <main>
    <!-- TODO FOR GONZO -- ASSESS IF THIS CSS IS NEEDED: DELETE IF NOT, INCORPORATE INTO THE APPROPRIATE SASS PARTIAL IF NEEDED -->
    <div style="margin: 0 auto; width: fit-content">
      <div id="my-bag">
        <h2>My bag</h2>

        <!-- class flex-row is not needed here, we just need align-items:center -->
        <div class="d-flex flex-row">
          <div class="col-3 p-2">
            <img src="https://via.placeholder.com/250x180.png?text=Food" alt="Food img placeholder"
              style="width:-webkit-fill-available">
          </div>
          <div class="col-3 p-2">
            <div><span>Meal title</span></div>
          </div>
          <div class="col-4 p-2">
            <div><span>Qty: 1</span></div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark">Remove</button>
              <button type="button" class="btn btn-outline-dark">Edit</button>
            </div>
          </div>
          <div class="col-2 p-2">
            <div><span>$13.82</span></div>
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="col-3 p-2">
            <img src="https://via.placeholder.com/250x180.png?text=Food" alt="Food img placeholder"
              style="width:-webkit-fill-available">
          </div>
          <div class="col-3 p-2">
            <div><span>Meal title</span></div>
          </div>
          <div class="col-4 p-2">
            <div><span>Qty: 1</span></div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark">Remove</button>
              <button type="button" class="btn btn-outline-dark">Edit</button>
            </div>
          </div>
          <div class="col-2 p-2">
            <div><span>$13.82</span></div>
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="col-3 p-2">
            <img src="https://via.placeholder.com/250x180.png?text=Food" alt="Food img placeholder"
              style="width:-webkit-fill-available">
          </div>
          <div class="col-3 p-2">
            <div><span>Meal title</span></div>
          </div>
          <div class="col-4 p-2">
            <div><span>Qty: 1</span></div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark">Remove</button>
              <button type="button" class="btn btn-outline-dark">Edit</button>
            </div>
          </div>
          <div class="col-2 p-2">
            <div><span>$13.82</span></div>
          </div>
        </div>

        <div class="d-flex flex-row">
          <div class="col-3 p-2">
            <img src="https://via.placeholder.com/250x180.png?text=Food" alt="Food img placeholder"
              style="width:-webkit-fill-available">
          </div>
          <div class="col-3 p-2">
            <div><span>Meal title</span></div>
          </div>
          <div class="col-4 p-2">
            <div><span>Qty: 1</span></div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark">Remove</button>
              <button type="button" class="btn btn-outline-dark">Edit</button>
            </div>
          </div>
          <div class="col-2 p-2">
            <div><span>$13.82</span></div>
          </div>
        </div>
      </div>

      <!-- TODO: add a comment form in the order-summary-box -->
      <div id="order-summary-box">
        <h2>Order Summary</h2>
        <div class="container summary-title">
          <div class="title">
            <div class="order-summary-text">
              <span>Sub-total</span>
            </div>
            <div class="order-summary-text">
              <span>Taxes</span>
            </div>
            <div class="order-summary-text">
              <span><strong>Total Price</strong></span>
            </div>
          </div>

          <div class="summary-value">
            <div class="order-summary-text"><span>$20.00</span></div>
            <div class="order-summary-text"><span>$5.10</span></div>
            <div class="order-summary-text"><span><strong>$25.10</strong></span></div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-dark btn">Checkout</button>
        </div>
      </div>
    </div>
  </main>

  <footer>

  </footer>

</body>

</html>
