<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200&family=Lemon&family=Modak&family=Oleo+Script+Swash+Caps:wght@400;700&family=Overpass:ital,wght@0,200;0,300;1,100;1,200&family=Poiret+One&family=Quicksand:wght@300;391;400;500&family=Staatliches&display=swap"
    rel="stylesheet">

  <!-- Font Awesome library -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200&family=Lemon&family=Modak&family=Oleo+Script+Swash+Caps:wght@400;700&family=Overpass:ital,wght@0,200;0,300;1,100;1,200&family=Poiret+One&family=Quicksand:wght@300;391;400;500&family=Salsa&family=Staatliches&display=swap"
    rel="stylesheet">

  <style>
    body {
      background-color: lightgray;
    }



    .box {
      flex: 1;
      min-height: 100px;
      font-size: 40px;
      margin: 0;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
    }



    .letters {
      flex: 1;
      min-height: 100px;
      font-size: 40px;
      margin: 0;
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <main>
    <div style="display:flex;justify-content: center;">
      <div class="box"
        style="border:3px solid black;flex-direction:column;width:80%;max-width: 50%;font-family: 'Overpass', sans-serif;">
        <div class="box" style="background-color: #463D2D;width:100%;">BLACK</div>
        <div class="box" style="background-color: #FEE6BE;color:black;width:100%;">IVORY</div>
        <div class="box" style="background-color: #BC4827;width:100%;">ORANGE</div>
        <div class="box" style="background-color: #908E7B;color:black;width:100%;">SLATE</div>
        <div class="box" style="background-color: #E14924;width:100%;">EXPERIMENTAL COLOUR</div>
      </div>
    </div>



    <div style="display:flex;justify-content: center;">
      <div class="letters" style="border:3px solid black;flex-direction:column;width:80%;max-width: 50%;">
        <div class="letters" style="font-family: 'Overpass', sans-serif;" width:100%;>Body: Overpass </div>
        <div class="letters" style="font-family: 'Lemon', cursive;">Display : Lemon</div>
        <div class="letters" style="font-family: 'Salsa', cursive;">Display : Salsa</div>
      </div>
    </div>
    </div>








  </main>
</body>



<!-- font-family: 'Josefin Sans', sans-serif;
font-family: 'Lemon', cursive;
font-family: 'Modak', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Overpass', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Salsa', cursive;
font-family: 'Staatliches', cursive; -->
