<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Fonts -->
  <!-- Display -- Lemon, Salsa  |  Body -- OverPass -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Overpass:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400;1,700;1,800&family=Salsa&display=swap" rel="stylesheet">

  <!-- Font Awesome library -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;1,200&family=Lemon&family=Modak&family=Oleo+Script+Swash+Caps:wght@400;700&family=Overpass:ital,wght@0,200;0,300;1,100;1,200&family=Poiret+One&family=Quicksand:wght@300;391;400;500&family=Salsa&family=Staatliches&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/style.css" type="text/css" />

  <style>
    body {
      background-color: lightgray;
    }

    .box {
      flex: 1;
      min-height: 100px;
      font-size: 40px;
      margin: 0;
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <main>
    <div style="display:flex;justify-content: center;">
      <div class="box"
        style="border:3px solid black;flex-direction:column;width:80%;max-width: 50%;font-family: 'Overpass', sans-serif;">
        <div class="box" style="background-color: #463D2D;width:100%;">$brown</div>
        <div class="box" style="background-color: #908E7B;color:black;width:100%;">$slate</div>
        <div class="box" style="background-color: #FEE6BE;color:black;width:100%;">$ivory</div>
        <div class="box" style="background-color: #E14924;width:100%;">$bright-red</div>
        <div class="box" style="background-color: #BC4827;width:100%;">$red</div>
      </div>
    </div>

    <div style="display:flex;justify-content: center;">
      <div class="letters" style="border:3px solid black;flex-direction:column;width:80%;max-width: 50%;padding:2rem;">
        <h1>h1: Lemon — Example Heading</h1>
        <h2>h2: Salsa — Example Heading</h2>
        <h3>Testing h3</h3>

        <p>Overpass Font Example Body: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed convallis tristique sem.  Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.</p>
      </div>
    </div>
    </div>

  </main>
</body>
