<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
    <title>Burgïr | Homepage</title>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>
</head>

<body>
  <%- include('partials/_navbar') %>
  <%- include('partials/_header') %>

  <main>
    <!-- TODO-animation: scroll down to menu-category once button is pushed  -->
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-dark">Appetizers</button>
      <button type="button" class="btn btn-outline-dark">Main Menu</button>
      <button type="button" class="btn btn-outline-dark">Desserts</button>
      <button type="button" class="btn btn-outline-dark">Beverages</button>
    </div>
    <!-- TODO - animation: hover icons &  display descp. w/ BS tooltips-->

    <div id="menu">

    </div>
  </main>

  <%- include('partials/_footer') %>

</body>

</html>
