<!DOCTYPE html>
<html lang="en">


  <head>
    <%- include('partials/_head'); %>
    </head>

<body>

  <nav>
    <h1 id="logo">Logo</h1>
    <span>Login</span>
    <span>Register</span>
    <i class="fa-light fa-basket-shopping-simple"></i>
  </nav>

  <header>
    <img class="img-fluid" src="img/open-kitchen-banner.jpg">
    <h2 class="centered">Authentic Earthen cuisine from our oven to your stomach.</h2>
  </header>

  <main>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-dark">Appetizers</button>
      <button type="button" class="btn btn-outline-dark">Main Menu</button>
      <button type="button" class="btn btn-outline-dark">Desserts</button>
      <button type="button" class="btn btn-outline-dark">Beverages</button>
    </div>

    <h2>Single-Page Appetizers</h2>
    <div class="menu-category">
      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-solid fa-steak"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <h2>&lt;main&gt; Courses</h2>
    <div class="menu-category">
      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-solid fa-steak"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <h2>Desserts</h2>
    <div class="menu-category">
      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-solid fa-steak"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <h2>Drinks</h2>
    <div class="menu-category">
      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-solid fa-steak"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>

      <div class="card">
        <img src="https://via.placeholder.com/250x180.png?text=Food" class="card-img-top" alt="Food pic">
        <div class="card-body">
          <h5 class="card-title">Card title longer on two lines</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <div class="icon-row">
            <i class="fa-regular fa-salad"></i>
            <i class="fa-regular fa-pepper-hot"></i>
          </div>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-outline-dark btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

  </main>

  <footer>

  </footer>

</body>

</html>
