<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
  <title>Burgïr | Your Basket</title>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <p>Hello world!</p>
</body>
