<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/_head'); %>
  <title>Boorgïr | Homepage</title>
</head>

<div class="bgimg" style="background-image:url('img/finger-food-and-drinks-on-dark-wood.jpg')">
  <div class="topleft">
    <h1>SNAQ</h1>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>BUT NOT NOW.</p>
  </div>
  <div class="bottomright">
    <p>Maybe later.</p>
  </div>
</div>
