body{
  font-family: 'Overpass', sans-serif;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.dropdown{
  margin-top: 2em;
}

#main-content {
  margin-top: 10em;
}

caption {
  font-size: 1.2em ;
  font-weight: bold;
  color: black;
}

#snaq:hover{
  color: black;
}

.table {
  width: 95%;
  margin-left: auto;
}


