

nav {
  display: flex;
  justify-content: space-between;
  color: white;

}

#adminIcon {
height: 1.6em;
width: 1.6em;
}

#settings{
height: 1.6em;
width: 1.6em;
}

#adminIcon:hover{
  color: black;
}

#snaq:hover{
  color: black;
}

.table {
//  margin-left: 2em;
//  margin-right: 2em;
width: 80%;
margin-left: auto;
}

h2 {
margin-left: 6em;
}

h2:hover{
  color: white;
}
