body{
  font-family: 'Overpass', sans-serif;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

#snaq:hover{
  color: black;
}

.order {
  border: 1px solid gray;
  align-items: center;

  .order-id,
  .order-userID,
  .order-createdAt,
  .order-total {
    text-align: center;
  }

  .order-comments {
    font-size: 16px;
  }
}
