// .order-summary-box {
//   display: inline-block;
//   border: 2px solid black;
//   width: 250px;
//   height: 250px;
// }

// .money-summary-box {
//   display: inline-block;
//   border: 2px solid blue;
//   width: 250px;
//   height: 250px;
// }

.order-summary-box {
  display: inline-block;
  width: 45%;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  border: 1px solid gray;
}

.money-summary-box {
  display: inline-block;
  width: 35%;
  margin-left: 2rem;
  border: 1px solid gray;
  padding-bottom: 1rem;
}

.menu-item-summary {
  width: 94%;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid gray;

  .menu-item {
    .row.force-height>div {
      height: 8rem;
    }

    .quantity,
    .price {
      border-left: 1px solid gray;
    }

    .col-2,
    .col-3,
    .col-4 {
      display: flex;

      span {
        align-self: center;
        display: inline-block;
        margin: auto;
      }
    }

    img {
      width: 6.5rem;
    }
  }
}


.summary-title {
  width: 94%;
  margin-bottom: 1.5rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid gray;


  .summary-value {
    border-left: 1px solid gray;
  }

  .col-2,
  .col-4 {
    display: flex;

  }

}
