.flex-row {
  align-items: center;
  box-shadow: none;
  transition: 0.24s;
}

.flex-row:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.24s;
}

#my-bag {
  display: inline-block;
  vertical-align: top;
  margin: 0rem 0rem 3rem 0rem;
  padding: 0rem 0.9rem 1.4rem 0.9rem;
  border: 1px solid gray;
  text-align: center;
  border-radius: 1rem;

  .menu-item-summary {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    border: 1px solid gray;

    .menu-item {
      .row.force-height>div {
        height: 8rem;
      }

      .quantity,
      .price {
        border-left: 1px solid gray;
      }
      img {
        width: 6.5rem;
      }
    }
  }
}

#order-summary-box {
  display: inline-block;
  margin-left: 3.1rem;
  border: 1px solid gray;
  padding: 0rem 0.9rem 0.9rem 0.9rem;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  .summary-title {
    width: 100%;
    margin-bottom: 0.7rem;
    padding: 0rem 0rem;

    .order-summary-text {
      margin-bottom: 0.5rem;
    }

    .title {
      display: inline-block;
      text-align: end;
      margin-right: 0.6rem;
    }

    .summary-value {
      display: inline-block;
      border-left: 1px solid gray;
      text-align: start;
      padding-left: 0.6rem;
    }
  }
}
