header {
  img {
    filter: brightness(0.45);
  }

  .centered {
    color: $ivory;
    position: absolute;
    width: fit-content;
    top: 35.6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
main {
  // display: flex;
  flex-direction: column;
}

main > h2 {
  margin: 1.6rem 0rem 1.6rem 9.5%;
}

.btn-group {
  width: 100%;
}

.menu-category {
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: center;

  .card {
    width: 10rem;
    margin-left: 1.6rem;

    .card-body {
      padding: 0.5rem;

      .card-title {
        font-size: 0.89rem;
        margin: 0rem 0rem 0rem 0rem;
      }

      .card-text {
        font-size: 0.7rem;
        margin: 0rem 0rem;
      }

      .icon-row {
        display: flex;
        justify-content: space-evenly;
        min-height: 2.2rem;
        font-size: 1.25rem;
        padding: 0.5rem 0rem;
      }

      .add-to-cart-btn-box {
        text-align: center;
      }

      .btn {
        font-size: 0.75rem;
      }
    }
  }
}
