// TODO - rename this file to _index.scss to line up with the .ejs file names

header {
  img {
    filter: brightness(0.45);
  }

  .centered {
    color: $ivory;
    position: absolute;
    width: fit-content;
    top: 35.6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
main {
  // display: flex;
  flex-direction: column;
}

main > h2 {
  margin: 1.6rem 0rem 1.6rem 9.5%;
}

.btn-group {
  width: 100%;
}

.menu-category {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.8rem 0rem 1.8rem;
  padding-bottom: 1.8rem;
  border: 1px solid lightgray;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  h2 {
    margin: 1.2rem 2rem 0.4rem 2rem;
  }

  .category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 9.2rem;
      margin: 0.8rem 0.4rem 0rem 0.4rem;

      .card-body {
        padding: 0.5rem;

        .card-title {
          height: 2.1rem;
          h5 {
            font-size: 0.89rem;
            margin: 0rem 0rem 0rem 0rem;
          }
        }

        .card-text {
          font-size: 0.7rem;
          height: 4.2rem;
        }

        .icon-row {
          display: flex;
          justify-content: space-evenly;
          min-height: 2.2rem;
          font-size: 1.25rem;
          padding: 0.5rem 0rem;
        }

        .add-to-cart-btn-box {
          text-align: center;
        }

        .btn {
          font-size: 0.75rem;
        }
      }
    }

    .card:hover {
      border-color: black;
    }

  }
}


.menu-category:hover {
  border-color: black;
}
