body {
  background-color: $ivory;
  min-height: 100vh;
}

#category-container {
  width: 45vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 1.1rem 0rem 1.1rem 0rem;

}
