nav {
  background-color: $red;
  position: fixed;
  top:0;
  height: 5.5rem;
  width: 100%;
  padding: 0 4.2rem;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 99;

  * {
    color: $ivory;
  }

  span {
    margin-right: 2rem;
  }

  #logo {
    margin-right: auto;
    text-decoration: none;
  }
}
